body,html {
  height: 100%;
}

.chat-container {
  /*margin: 0px;*/
  padding: 0px;
  width: 500px;
  /*margin: 35px 0px;*/
  margin-left: 15%;
  margin-right: 15%;
}

.chat-message {
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 3px;
}

.bot-message {
  background: #22b538;
  max-width: 300px;
  color: white;
  margin-left: auto;
}

.human-message {
  background: dodgerblue;
  max-width: 300px;
  color: white;
  margin: 13px 1px;
}

.input {
  width: 500px;
  /*margin: 35px 0px;*/
  margin-left: 15%;
  margin-right: 15%;
 }

